.main-spacer {
  flex: 1 1 auto;
}

.main-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  /* padding: 20px; */
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.main-sidenav-content {
  display: flex;
}

.main-sidenav {
  /* padding: 20px; */
  background-color: #0F182A;
}

:host /deep/ mat-drawer-content {
  padding: 20px;
}

.mat-drawer.mat-drawer-side{
  width: 250px;
  padding-bottom: 20px;
}
