<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="main-sidenav" mode="side" opened="true">
    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->

    <app-sidebar></app-sidebar>

 
  </mat-drawer>

  <div class="main-sidenav-content">
    <mat-toolbar>
      <button mat-icon-button class="main-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <!-- <span class="main-spacer"></span> -->
      <!-- <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="main-icon">
        <mat-icon>share</mat-icon>
      </button>  -->
    </mat-toolbar> 
  </div>

    <router-outlet>  
    </router-outlet>
</mat-drawer-container>




