<div class="profile-card">
    <div class="card-menubar">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-profile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>
    </div>
    <img src="../../../assets/images/avatar.jpg" alt="Profile Picture" class="profile-pic">
    <p class="user-name">Sample User</p>
    <p class="user-email">example@naturub.com</p>

</div>
<mat-accordion> 
    <div *ngFor="let menuitem of menuItems.getMenuitem()">
        <button mat-button class="menu-btn" *ngIf="menuitem.children.length == 0">
            <a [routerLink]="['/', menuitem.state]" class="menu-link">
                <span class="menu-btn-text">
                    <mat-icon>{{ menuitem.icon }}</mat-icon>
                    {{ menuitem.name }}
                </span>
            </a>
        </button>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            *ngIf="menuitem.children.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>{{ menuitem.icon }}</mat-icon>
                    <span class="menu-name">{{ menuitem.name }}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <button mat-button class="menu-btn sub" *ngFor="let subitem of menuitem.children">
                <a [routerLink]="[subitem.state]" class="menu-link">
                    <span class="menu-btn-text">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ subitem.name }}</span>
                </a>
            </button>
        </mat-expansion-panel>
    </div>



</mat-accordion>