/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 

/* .container{
    width: 100%; 
    padding: 10px 25px;
} */

.text-right-align{
    text-align: right;
}

.mat-card-title{
  margin-top: 8px !important;
  font-size: 35px;
  font-weight: 100;
  color: #2088e7;
}

.mat-card-subtitle {
    margin-bottom: 8px;
}

.mat-sort-header-container{
  justify-content: center;
}

.mat-toolbar-row, 
.mat-toolbar-single-row{
    margin-bottom: 20px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0F182A; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f4f8f; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .mat-cell, .mat-footer-cell{
    font-size: 12px; 
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .mat-sort-header-content{
    font-weight: 600;
    color: #5d6471;
  }
  
/* Radio Button */
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#2f4f8f !important; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#2f4f8f !important;
    background-color:#2f4f8f !important;
  } 

  .mat-radio-button .mat-radio-ripple .mat-ripple-element{
    background-color:rgba(100, 136, 255, 0.26) !important;
  }

 
/* Common */

.pt-10{
  padding-top: 10px;
}

.mb-0{
  margin-bottom: 0px !important;
}

/* Dialog Models */

.sub-title{
  color: rgba(0,0,0,.54) !important;
}

/* mat-progress-bar */

mat-progress-bar{
  position: absolute !important;
  z-index: 99999;
  left: 0;
  top: 0px;
}