/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 

/* .container{
    width: 100%; 
    padding: 10px 25px;
} */

.text-right-align{
    text-align: right;
}

.mat-card-subtitle {
    margin-bottom: 8px;
}

.mat-toolbar-row, 
.mat-toolbar-single-row{
    margin-bottom: 20px;
}