<h1 mat-dialog-title>{{data.title}}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>  
  
<!-- Fields -->

<mat-form-field appearance="fill">
  <mat-label>Main Category</mat-label>
  <mat-select (selectionChange)="FillSubCategory($event.value)">
    <mat-option *ngFor="let main of MainCategoryList" [value]="main.MainCategoryID">
      {{main.MainCategory}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Sub Category</mat-label>
  <mat-select>
    <mat-option *ngFor="let sub of SubCategoryList" [value]="sub.SubCategoryID">
      {{sub.SubCategory}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>FAR Code</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Computer Name</mat-label>
  <input matInput placeholder="Ex. NGHQ-IT-008">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>IP Address</mat-label>
  <input matInput placeholder="Ex. 192.168.0.8">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Department</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Section</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Log On User</mat-label>
  <input matInput placeholder="Ex. sample.user">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>User</mat-label>
  <input matInput placeholder="Ex. SampleUser">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Operating System</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Virus Guard</mat-label>
  <mat-select>
    <mat-option value="Active">Active</mat-option>
    <mat-option value="Deactive">Deactive</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Processor</mat-label>
  <mat-select>
    <mat-option value="Active">Active</mat-option>
    <mat-option value="Deactive">Deactive</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>RAM</mat-label>
  <mat-select>
    <mat-option value="Active">Active</mat-option>
    <mat-option value="Deactive">Deactive</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Model Name</mat-label>
  <input type="text"
         placeholder="Ex. Lenovo L580"
         aria-label="Model"
         matInput
         [formControl]="modelControl"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredModels | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Leave a comment</mat-label>
   <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>

<!-- <div>
  <label>Virus Guard: </label>
  <mat-radio-group>
    <mat-radio-button value="Active">Active</mat-radio-button>
    <mat-radio-button value="Deactive">Deactive</mat-radio-button>
  </mat-radio-group>
</div> -->

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
