<h1 mat-dialog-title class="mb-0">{{data.title}}</h1>
<p class="sub-title">{{data.subtitle}}</p> 
<mat-error *ngIf="!IsValidForm">Please fill the <strong>required fields</strong></mat-error>

<!-- <mat-divider></mat-divider> -->
<div mat-dialog-content>

  <div class="pt-10">
 
    <!-- <form (ngSubmit)="Save()"></form> -->
    
      <!-- <mat-form-field class="full-width" appearance="outline">
        <mat-label>Main Category</mat-label>
        <mat-select (selectionChange)="FillSubCategories($event.value)" [formControl]="MainCategoryControl"
          [errorStateMatcher]="matcher" required>
          <mat-option *ngFor="let main of MainCategoryList" [value]="main.MainCategoryID">
            {{main.MainCategory}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="MainCategoryControl.hasError('required')">Main category is <strong>required</strong></mat-error>
  
      </mat-form-field> -->

      <mat-form-field *ngIf="this.data.itemID" class="full-width" appearance="outline">
        <mat-label>Item Code</mat-label>
        <input matInput [formControl]="ItemCodeControl"> 
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Sub Category</mat-label>
        <mat-select [formControl]="SubCategoryControl" [errorStateMatcher]="matcher" [disabled]="this.data.itemID" required>
          <mat-option *ngFor="let sub of SubCategoryList" [value]="sub.SubCategoryID">
            {{sub.SubCategory}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="SubCategoryControl.hasError('required')">Sub category is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>FAR Code</mat-label>
        <input matInput [formControl]="FARControl" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="FARControl.hasError('required')">FAR code is <strong>required</strong></mat-error>
        <mat-error *ngIf="FARControl.hasError('pattern')">Enter only <strong>number</strong></mat-error>

      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Computer Name</mat-label>
        <input matInput class="Uppercase" placeholder="Ex. NGHQ-IT-008" [formControl]="ComputerNameControl" [errorStateMatcher]="matcher"
        required>
        <mat-error *ngIf="ComputerNameControl.hasError('required')">Computer name is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>IP Address</mat-label>
        <input matInput placeholder="Ex. 192.168.0.8" [formControl]="IPAddressControl" [errorStateMatcher]="matcher"
          type="text" required>
        <mat-error *ngIf="IPAddressControl.hasError('required')">IP address is <strong>required</strong></mat-error>
        <mat-error *ngIf="IPAddressControl.hasError('pattern')">IP address is <strong>invalid</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select (selectionChange)="FillSections($event.value)" [formControl]="DepartmentControl"
          [errorStateMatcher]="matcher" required>
          <mat-option *ngFor="let department of DepartmentList" [value]="department.DepartmentID">
            {{department.Department}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="DepartmentControl.hasError('required')">Department is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Section</mat-label>
        <mat-select [formControl]="SectionControl" [errorStateMatcher]="matcher" required>
          <mat-option *ngFor="let section of SectionList" [value]="section.SectionID">
            {{section.Section}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="SectionControl.hasError('required')">Section is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Login User</mat-label>
        <input matInput class="Uppercase" placeholder="Ex. sample.user" [formControl]="LoginUserControl" [errorStateMatcher]="matcher"
          required>
        <mat-error *ngIf="LoginUserControl.hasError('required')">Login user is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Authorized User</mat-label>
        <input matInput class="Uppercase" placeholder="Ex. sample.user" [formControl]="UserControl" [errorStateMatcher]="matcher"
          required>
        <mat-error *ngIf="UserControl.hasError('required')">User is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Operating System</mat-label>
        <mat-select [formControl]="OSControl" [errorStateMatcher]="matcher" required>
          <mat-option *ngFor="let operatingSystem of OperatingSystemList" [value]="operatingSystem.OperatingSystemID">
            {{operatingSystem.OperatingSystem}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="OSControl.hasError('required')">Operating system is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Virus Guard</mat-label>
        <mat-select [formControl]="VirusGuardControl" [errorStateMatcher]="matcher" required>
          <mat-option [value]="true">Active</mat-option>
          <mat-option [value]="false">Deactive</mat-option>
        </mat-select>
        <mat-error *ngIf="VirusGuardControl.hasError('required')">Virus guard is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Processor</mat-label>
        <mat-select [formControl]="ProcessorControl" [errorStateMatcher]="matcher" required>
          <mat-option *ngFor="let processor of ProcessorList" [value]="processor.ProcessorID">
            {{processor.Processor}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ProcessorControl.hasError('required')">Processor is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RAM</mat-label>
        <mat-select [formControl]="RAMControl" [errorStateMatcher]="matcher" required>
          <mat-option *ngFor="let rams of RAMList" [value]="rams.RAMID">
            {{rams.RAM}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="RAMControl.hasError('required')">RAM is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Capacity</mat-label>
        <input matInput placeholder="Ex. 500GB SATA / 256GB SSD / 125GB NVMe" [formControl]="CapacityControl"
          [errorStateMatcher]="matcher" required>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Model Name</mat-label>
        <input type="text" placeholder="Ex. Lenovo L580" aria-label="Model" matInput [formControl]="ModelControl"
          [errorStateMatcher]="matcher" [matAutocomplete]="auto" required>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let computerModel of filteredModels | async" [value]="computerModel.ModelName">
            {{computerModel.ModelName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="ModelControl.hasError('required')">Model is <strong>required</strong></mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Remark</mat-label>
        <textarea matInput [formControl]="RemarkControl"></textarea>
      </mat-form-field> 
  </div>

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="Save()">Ok</button> -->
  <button *ngIf="!this.data.itemID" mat-button cdkFocusInitial (click)="Save()">OK</button>
  <button *ngIf="this.data.itemID" mat-button cdkFocusInitial (click)="Update(this.data.itemID)">Update</button>


</div>